@import "tailwindcss";

@theme {
  --color-primary: #fdb612;
  --color-navy: #002d44;
  --color-navy-light: #004060;
  --color-background-light: #f8f7f5;
  --color-background-dark: #231d0f;

  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-noto-sans);

  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-navy);
  font-family: var(--font-display);
}
